<div class="container">
    <div class="row">
        <div class="col">
            Állat neve: {{pickedAnimal.name}}
        </div>
    </div>
    <div class="row">
        <div class="col">
           Állat típusa: {{pickedAnimal.type}}
        </div>
    </div>
    <div class="row">
        <div class="col">
          Állat leírása: {{pickedAnimal.details}}  
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Állat képe: <img style="max-width:300px;" [src]='pickedAnimal.imgUrl'>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-warning" (click)="LoveChange()">Szeretem??</button>
        </div>
    </div>
</div>
